// Vars

$blue: darken(#00aeef, 10%);

.loader {
  width: 50px;
  height: 50px;
  border: 3px solid $blue;
  border-top-color: transparent;
  border-radius: 100%;
  margin: 40px auto;
  animation: rotate 0.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes rotate {
  to {
    transform: rotate(360deg)
  }
}

.button {
  display: table;
  text-decoration: none;
  border-radius: 40px;
  &.small {
    padding: 8px 14px;
    font-size: 0.8rem;
    &:hover {
      padding: 7px 13px;
      border-width: 2px;
    }
  }

  &.bordered {
    border: 1px solid;
    &.blue {
      border-color: $blue;
      color: $blue;
    }
  }
}

// Full height elements

.full-height {
  height: 100vh;
}

// Inputs

.input-with-button {
  position: relative;
  height: 50px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  input {
    width: calc(100% - 100px);
    float: left;
    border: 0;
    height: 50px;
    outline: none;
    padding: 15px;
    color: $blue;
    font-size: 0.9rem;
    border-left: 2px solid $blue;
    transition: 0.2s;
  }

  button {
    width: 100px;
    height: 50px;
    background-color: darken($blue, 5%);
    color: #fff;
    outline: none;
    border: 0;
    float: right;
    font-size: 0.9rem;
    cursor: pointer;
  }
}

.section {
  padding: 50px 0;
}

// Titles

.main-title {
  h2, h3, h4 {
    font-size: 1.8rem;
    color: $blue;
    margin: 0 0 5px 0;
  }

  span {
    font-size: 1rem;
    color: rgba(#000, 0.6)
  }
}

@media only screen and (max-width: 767px) {
  .main-title {
    text-align: center;
  }
}
