<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico">
    <title>Fake Cielo Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&display=swap" rel="stylesheet">
</head>

<body ng-app="cieloApp" ng-strict-di ng-cloak>
  <div id="main-content">
    <header>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="header-content">
              <div id="text-logo">
                CieloFakeBlog
              </div><!-- #text-logo  -->

              <nav id="main-menu" role="menu" class="d-none d-lg-block">
                <ul>
                  <li><a href="#0">Home</a></li>
                  <li><a href="#0">Sobre nós</a></li>
                  <li><a href="#0">Tutoriais</a></li>
                  <li><a href="#0">Todos os posts</a></li>
                  <li><a href="#0">Contato</a></li>
                </ul>
              </nav><!-- #main-menu  -->

              <a class="button small bordered blue" href="#0">Demonstração</a>
            </div><!--  .header-content -->
          </div><!--  .col -->
        </div><!--  .row -->
      </div><!--  .container -->
    </header>

    <div id="intro" class="full-height">
      <div class="container full-height">
        <div class="row align-items-center justify-content-center full-height">
          <div class="col-sm-12 col-md-6">
            <img class="cielo-logo" src="https://www.cielo.com.br/assets/images/shared/logo-cielo.svg" alt="Logo da Cielo" />
            <p>Bem vindo ao <strong>Fake Blog da Cielo.</strong> Em nossos artigos, você encontrará tutoriais de como usar sua Cielo, dicas para colocar sua vida financeiras nos eixos e até mesmo pequenas articulações hipotéticas. Por exemplo: quem veio primeiro? O ovo ou a galinha?</p>

            <form action="">
              <div class="input-with-button">
                <input type="text" placeholder="Quero receber novidades" required />
                <button>Enviar</button>
              </div><!--  .input-with-button -->
            </form>
          </div><!--  .col-sm-12 col-md-8 -->

          <div class="col-sm-12 col-md-4">
            <img class="cielo-machine" src="https://www.cielo.com.br/assets/images/shared/maquininhas/maquininha-de-cartao-cielo-flash.png" alt="Maquininha Cielo - Flash" />
          </div><!--  .col-sm-12 col-md-4 -->
        </div><!--  .row -->
      </div><!--  .container -->
    </div><!-- #intro  -->

    <div id="post-list" ng-controller="PostsController">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="main-title">
              <h2>Últimos posts</h2>
              <span>Confira abaixo a lista dos posts mais recentes da Cielo</span>
            </div><!--  .main-title -->
          </div><!--  .col -->
        </div><!--  .row -->

        <div class="row">
          <div class="col">

            <div class="loader" ng-show="loading"></div><!--  .loader -->

            <div id="grid-post" ng-show="!loading">

              <article class="post" ng-repeat="post in posts">
                <a href="/post/{{post.id}}" title="{{post.title}}"></a>
                <h3 class="entry-title">{{post.title}}</h3>
                <p>{{post.body}}</p>
              </article><!--  .post -->

              <div class="error" ng-show="error">
                Infelizmente ocorreu um erro ao carregar os posts. Por favor, recarregue a página e tente novamente.
              </div><!--  .error -->
            </div><!-- #grid-post  -->
          </div><!--  .col -->
        </div><!--  .row -->
      </div><!--  .container -->
    </div><!-- #post-list  -->
  </div><!-- #main-content  -->
</div>
</body>
</html>
